<div class='container-fluid'>
  <h2 class='pt-4'>Check di Segnali </h2>
  <hr>
  <div class='row'>
    <%= content_tag 'table', id: 'checks',class: 'table table-striped datatable' do %>
      <thead>
        <tr>
          <th>Id</th>
          <th>Data Creazione</th>
          <th>Data Aggiornamento</th>
        </tr>
      </thead>
      <tbody>
        <% @stock_signal_checks.each do |c| %>
          <tr>
            <td><%= link_to c.id, stock_signals_path(id: c.id) %></td>
            <td><%= link_to(l(c.created_at, format: "%d-%m-%Y %H:%M"), stock_signals_path(id: c.id)) %></td>
            <td><%= link_to(l(c.updated_at, format: "%d-%m-%Y %H:%M"), stock_signals_path(id: c.id)) %></td>
          </tr>
        <% end -%>
      </tbody>
    <% end %>
  </div>
  <hr>
</div>
