// Place all the styles related to the PortfolioItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profit {color: white; padding: 5px; border-radius: 5px; text-align: center; margin-bottom: 0; background-color: green;}
.loss {color: white; padding: 5px; border-radius: 5px; text-align: center; margin-bottom: 0; background-color: red;}
