// Place all the styles related to the StockSignals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table th, .table td {
    vertical-align: middle;
}

.suggestion {color: white; padding: 5px; border-radius: 5px; text-align: center; margin-bottom: 0;}
.buy-high {background-color: green;}
.buy-medium {background-color: orange;}
.buy-low {background-color: coral;}
.sell-high {background-color: red;}
.sell-medium {background-color: red;}
.sell-low {background-color: red;}
